@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
    height: 100vh;
    background-image: var(--linear-gradient1);
    min-width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

#toggle{
    display: none;
}

.header, .main{
    padding: 0 5%;
    color: var(--primary-color);
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 130px;
    font-size: 25px;
}

.header .logo{
    margin-right: auto;
    width: 380px;
}

.header .logo i{
    width: 100%;
    font-size: 26px;
    cursor: pointer;
}

.header .navigation-menu{
    display: flex;
    align-items: center;
    gap: 120px;
}

.header .navigation-menu .menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header .navigation-menu .menu li a{
    position: relative;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500; 
    transition: color 0.3s ease-in-out;
}

.header .navigation-menu .menu li a:hover{
    color:var(--secondary-color);
}

.header .navigation-menu #toggle{
    font-size: 1.5rem;
    cursor: pointer; 
}

.main{
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

.main .home-content h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;
}

.main .home-content p{
    font-size: 0.95rem;
    font-weight: 100;
    margin: 12px 0 20px;
}

.main .home-content button{
    background-color: #cb8e81;
    padding: .74rem 2.1rem;
    outline: none;
    border: none;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2.5rem;
    transition: background-color 0.5s ease-in-out;
}

.main .home-content button:hover{
    background-color: #f2ae9d;
}

.main .images .image-1,
.main .images .image-2,
.main .images .image-3,
.main .images .image-4,
.main .images .image-5,
.main .images .image-6,
.main .images .image-7{
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -10;
}

.main .images .image-1{
    background: url('../images/Layer.svg');
    background-position: bottom;
    background-size: cover;
    bottom: -10%;
    height: 120%;
    clip-path: inset(0.55% 0 0 0);
}

.main .images .image-2{
    background: url('../images/Hills.svg');
    background-position: center;
    background-size: cover;
    bottom: 7%;
    height: 100%;
    clip-path: inset(0.35% 0 0 0);
}

.main .images .image-3{
    background: url('../images/Hill.svg');
    background-position: center;
    background-size: cover;
    bottom: 10%;
    height: 90%;
    clip-path: inset(0.35% 0 0 0);
}

.main .images .image-4{
    background: url('../images/Sun.svg');
    background-position: center;
    background-size: cover;
    bottom: 5%;
    height: 80%;
    clip-path: inset(0.35% 0 0 0);
}

.main .images .image-5{
    background: url('../images/Background-hills.svg');
    background-position: center;
    background-size: cover;
    bottom: 10%;
    height: 100%;
    clip-path: inset(0.35% 0 0 0);
}
